---
layout: layouts/layout.njk
title: About
meta-des: Dr. Jeffrey Levy, DVM, CVA, known to his clients as “Dr. Jeff,” provides caring, in-home veterinary visits in the New York City area using both conventional and holistic medical techniques. His focus is on specialized care and pain management through acupuncture, rehabilitation, and wellness practices.
---

	<!-- Page Layout -->
	<!-- About Section -->
	<section class="about">
		<div class="">
			<img class="no-steal about-img" src="{{aboutData.img}}" alt="Picture of Jeff"/>
		</div>
		<div class="about-des">
			<h2>About</h2>
			{%- for item in aboutData.des -%}
			<p>{{item | markdown | safe}}</p>
			{%- endfor -%}
		</div>
	</section>