---
layout: layouts/layout.njk
title: About
meta-des: I was born in Lima, Peru and grew up in New York City.  From a young age I found myself surrounded and inspired by many different types of cultures, cuisines, music, art and fashion...
---

	<!-- Page Layout -->
	<!-- About Section -->
	<section class="about">
		<div class="about-img">
			<img class="no-steal" src="/assets/rs-rocio-bio-pic.jpeg" alt="Picture of Rocio"/>
		</div>
		<div class="about-des">
			<h2>About</h2>
			<p>I was born in Lima, Peru and grew up in New York City.  From a young age I found myself surrounded and inspired by many different types of cultures, cuisines, music, art and fashion.</p>
			<p>I attended College at The Fashion Institute of Technology with a degree in Fashion Business and studied art history and design at Polimoda in Florence, Italy.</p>
			<p>I began my career at DKNY as an intern, then moved on to Ann Taylor, The Limited, Brooks Brothers and finally settled at LI and Fung as a Production Manager.  My work has allowed me to have travelled to many different places from Hong Kong to Guatemala.</p>
			<p>After working in the fashion industry for 25 years I was blessed with a daughter, Valentina who is called VIVI  by her Bubbie.  This has started a new chapter and Adventure in my life.</p>
			<p>I have always believed in inclusivity and in the discovery of new things and ways to better ourselves.  As a proud Latina, New Yorker, Fashionista, Foodie, Traveller and now teacher to my daughter I bring forth this blog.</p>
			<p>I’m inspired to write this blog by some very dear and important people in my life.  First and foremost the love of my life, my husband, Veterinarian, Dr. Jeff and our precious baby girl, Valentina.  I would also like to thank my parents for instilling in me traditional family values and for sharing their dreams and passions with us.</p>
			<p>These family members bring joy, meaning and purpose to my life everyday and I’m eternally grateful to them for that.</p>
		</div>
		<div class="about-img-two">
			<img class="no-steal" src="/assets/rs-v-bio-pic.jpeg" alt="Picture of Rocio"/>
		</div>
	</section>