---
layout: layouts/layout.njk
title: Contact | House Call Vet NYC
meta-des: Dr. Jeffrey Levy, DVM, CVA, known to his clients as “Dr. Jeff,” provides caring, in-home veterinary visits in the New York City area using both conventional and holistic medical techniques. His focus is on specialized care and pain management through acupuncture, rehabilitation, and wellness practices.
---

	<section class="contact" id="contact-page">
		<h2>Contact Me</h2>
		<p>Tell me more about you, your pet and the type of service you're interested in.</p>

		<form class="contact-form">
			<div class="contact-form-des">
				<label for="name">
					<span>Name</span>
					<input type="text" placeholder="name">
				</label>

				<label for="email">
					<span>Email Address</span>
					<input type="email" placeholder="email">
				</label>
			</div>

			<label for="subject">
				<span>Subject</span>
				<textarea name="message" id="" cols="30" rows="10" placeholder="Write me a message about you and your pet!" class="contact-form-subject"></textarea>
			</label>
			<div class="contact-form-links">
				<div class="contact-phone">
					<span>Call me at:</span>
					<a href="tel:2124651667">212-465-1667</a>
				</div>
				<button class="button_light">Submit</button>
			</div>
		</form>
	</section>