---
layout: layouts/layout.njk
title: Home | House Call Vet NYC
meta-des: Dr. Jeffrey Levy, DVM, CVA, known to his clients as “Dr. Jeff,” provides caring, in-home veterinary visits in the New York City area using both conventional and holistic medical techniques. His focus is on specialized care and pain management through acupuncture, rehabilitation, and wellness practices.
pagination:
  data: testimonialsData.testimonials
  size: 3
  reverse: true
---

	<header class="hero">
		<div class="hero-text">
			<h1 class="hero-title">Dr. Jeffrey Levy, DVM, CVA</h1>
			<p><em>Veterinarian Certified in Animal Acupuncture since 1997</em></p>
			{%- for item in homeData.hero -%}
			<p>{{item | markdown | safe}}</p>
			{%- endfor -%}
			<a class="button_main" href="/contact">Contact Me</a>
		</div>
		<div class="slides slowFade">
			<div class="slide">
				<img class="no-steal hero-photo" src="/assets/jeff-with-patients.png" alt="Picture of Jeff"/>
			</div>
			<div class="slide">
				<img class="no-steal hero-photo" src="/assets/jeff_with_cat_and_guitar.png" alt="Picture of Jeff"/>
			</div>
			<div class="slide">
				<img class="no-steal hero-photo" src="/assets/jeff_with_patients_2.png" alt="Picture of Jeff"/>
			</div>
		</div>

	</header>

	<section class="media">
		<h2>In the Media</h2>
		<div class="media-content">
		<div class="video-1">
			<p><strong>From Good Housekeeping Magazine:</strong></p>
			<iframe src="https://www.youtube.com/embed/qJIt_QRPEPY" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	
		<div class="media_description">
			<p><strong>As Featured in:</strong></p>
			<img src="/assets/nyt-logo_white.svg" alt="NYTimes" class="logo_nyt">
			<p>"Dr. Levy, a certified veterinary acupuncturist, assists with rehabilitation and pain management for pets whose ownsers want to avoid medication or surgery."</p>
			<a href="https://www.nytimes.com/2018/03/22/nyregion/with-a-metrocard-and-needles-a-vet-makes-house-calls.html" target="_blank" rel="noopener noreferrer" class="button_light">Read the Article</a>
		</div>

		<div class="video-2">
			<p><strong>Dr. Jeff speaks at the Harvard Faculty Club:</strong></p>
			<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/UH6W0Bh9Src" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
	</section>
	<div class="slider slider-home">
			<div class="slider-track">
				<div class="slide">
					<img src="/assets/vet_photo_1.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_2.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_4.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_5.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_3.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_6.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_7.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_8.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_9.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_10.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_11.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_13.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_14.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_12.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_15.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_16.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_17.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_18.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_19.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_20.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_21.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_22.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_23.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_24.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_25.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_26.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_27.jpg" alt="">
				</div>

				<!-- DUPLICATE -->
				<div class="slide">
					<img src="/assets/vet_photo_1.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_2.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_4.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_5.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_3.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_6.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_7.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_8.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_9.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_10.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_11.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_13.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_14.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_12.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_15.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_16.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_17.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_18.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_19.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_20.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_21.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_22.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_23.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_24.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_25.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_26.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/vet_photo_27.jpg" alt="">
				</div>
			</div>
	</div>

	<section class="clients">
		<h2 class="clients-title">My Amazing Patients!</h2>
		<div class="cards-testimonial_home">
			{%- for item in pagination.items -%}
			<div class="card-testimonial">
				<img src="{{item.img}}" alt="Pet Picture">
				<p class="card-testimonial_title">{{item.name}} and {{item.author}}</p>
				<div class="card-testimonial_story">
					<p class="card-testimonial_quote">{{item.quote}}</p>
					<button class="card-testimonial_button button_secondary">Read More</button>
				</div>
			</div>
			{%- endfor -%}
		</div>
		<a class="button_light" href="/testimonials">See More</a>
	</section>

	<section class="contact">
		<h2>Contact Me</h2>
		<p>Tell me more about you, your pet and the type of service you're interested in.</p>

		<form class="contact-form">
			<div class="contact-form-des">
				<label for="name">
					<span>Name</span>
					<input type="text" placeholder="name">
				</label>

				<label for="email">
					<span>Email Address</span>
					<input type="email" placeholder="email">
				</label>
			</div>

			<label for="subject">
				<span>Subject</span>
				<textarea name="message" id="" cols="30" rows="10" placeholder="Write me a message about you and your pet!" class="contact-form-subject"></textarea>
			</label>
			<div class="contact-form-links">
				<div class="contact-phone">
					<span>Call me at:</span>
					<a href="tel:2124651667">212-465-1667</a>
				</div>

				<button class="button_main">Submit</button>
			</div>
		</form>
	</section>