---
layout: layouts/layout.njk
title: Home | House Call Vet NYC
meta-des: Dr. Jeffrey Levy, DVM, CVA, known to his clients as “Dr. Jeff,” provides caring, in-home veterinary visits in the New York City area using both conventional and holistic medical techniques. His focus is on specialized care and pain management through acupuncture, rehabilitation, and wellness practices.
---

	<header class="hero">
		<div class="hero-text">
			<h1>Dr. Jeffrey Levy, DVM, CVA</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium reprehenderit consequatur ipsam debitis facilis dolorem in! Amet est, autem magni fuga, cupiditate molestias ipsum? Est adipisci veniam vitae nobis, soluta.</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda delectus magni nam animi hic in, possimus ducimus, numquam! Delectus, non.</p>
			<a class="button_main" href="/contact">Contact Me</a>
		</div>
		<img class="no-steal hero-photo" src="/assets/dr-jeff-website-main-photo.png" alt="Picture of Jeff"/>
	</header>

	<section class="media">
		<div>
			<h2>In the Media</h2>
			<p>From Good Housekeeping</p>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/qJIt_QRPEPY" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	
		<div class="media_description">
			<h2>From the NYTimes</h2>
			<p>"Dr. Levy, a certified veterinary acupuncturist, assists with rehabilitation and pain management for pets whose ownsers want to avoid medication or surgery."</p>
			<a href="https://www.nytimes.com/2018/03/22/nyregion/with-a-metrocard-and-needles-a-vet-makes-house-calls.html" target="_blank" rel="noopener noreferrer" class="button_light">Read the Article</a>
		</div>
	</section>

	<section class="clients">
		<h2 class="clients-title">My Amazing Clients</h2>
		<div class="cards-testimonial">
			<div class="card-testimonial">
				<img src="/assets/pet-testimonial-test.jpeg" alt="Pet Picture">
				<p class="card-testimonial_title">Pet Name</p>
				<p>"Quote from the client about Dr. Jeff's services!"</p>
				<p>-- Name of the Pet Parent</p>
			</div>

			<div class="card-testimonial">
				<img src="/assets/pet-testimonial-test.jpeg" alt="Pet Picture">
				<p class="card-testimonial_title">Pet Name</p>
				<p>"Quote from the client about Dr. Jeff's services!"</p>
				<p>-- Name of the Pet Parent</p>
			</div>

			<div class="card-testimonial">
				<img src="/assets/pet-testimonial-test.jpeg" alt="Pet Picture">
				<p class="card-testimonial_title">Pet Name</p>
				<p>"Quote from the client about Dr. Jeff's services!"</p>
				<p>-- Name of the Pet Parent</p>
			</div>
		</div>
	</section>

	<section class="contact">
		<h2>Contact Me</h2>
		<p>Tell me more about you, your pet and the type of service you're interested in.</p>

		<form class="contact-form">
			<div class="contact-form-des">
				<label for="name">
					<span>Name</span>
					<input type="text" placeholder="name">
				</label>

				<label for="email">
					<span>Email Address</span>
					<input type="email" placeholder="email">
				</label>
			</div>

			<label for="subject">
				<span>Subject</span>
				<textarea name="message" id="" cols="30" rows="10" placeholder="Write me a message about you and your pet!" class="contact-form-subject"></textarea>
			</label>
			<div class="contact-form-links">
				<a href="555-5555">Or Call Me</a>
				<button class="button_main">Submit</button>
			</div>
		</form>
	</section>