---
layout: layouts/layout.njk
title: Home | House Call Vet NYC
meta-des: Dr. Jeffrey Levy, DVM, CVA, known to his clients as “Dr. Jeff,” provides caring, in-home veterinary visits in the New York City area using both conventional and holistic medical techniques. His focus is on specialized care and pain management through acupuncture, rehabilitation, and wellness practices.
---

	<header class="hero">
		<div class="hero-text">
			<h1>Dr. Jeffrey Levy, DVM, CVA</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium reprehenderit consequatur ipsam debitis facilis dolorem in! Amet est, autem magni fuga, cupiditate molestias ipsum? Est adipisci veniam vitae nobis, soluta.</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda delectus magni nam animi hic in, possimus ducimus, numquam! Delectus, non.</p>
			<button>Contact Me</button>
		</div>
		<img class="no-steal" src="/assets/rs-rocio-bio-pic.jpeg" alt="Picture of Jeff"/>
	</header>

	<section class="media">
		<h2>In the Media</h2>
		<p>From Good housekeeping</p>
		<video src=""></video>

		<h2>From the NYTimes</h2>
		<p>"Dr. Levy, a certified veterinary acupuncturist, assists with rehabilitation and pain management for pets whose ownsers want to avoid medication or surgery."</p>
		<a href="https://www.nytimes.com/2018/03/22/nyregion/with-a-metrocard-and-needles-a-vet-makes-house-calls.html" target="_blank" rel="noopener noreferrer">Read the Article</a>
	</section>

	<section class="clients">
		<h2>My Amazing Clients</h2>
	</section>

	<section class="contact">
		<h2>Contact Me</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, ea debitis reprehenderit fuga deserunt ex neque nisi repellendus unde non?</p>

		<form class="contact-form">
			<label for="name">
				<span>Name</span>
				<input type="text" placeholder="name">
			</label>

			<label for="email">
				<span>Email Address</span>
				<input type="email" placeholder="email">
			</label>

			<label for="subject">
				<span>Subject</span>
				<input type="text" placeholder="Write me a message about you and your pet!">
			</label>

			<button>Submit</button>
		</form>
		<a href="555-5555">Or Call Me</a>
	</section>