---
layout: layouts/layout.njk
title: Services | House Call Vet NYC
meta-des: Dr. Jeffrey Levy, DVM, CVA, known to his clients as “Dr. Jeff,” provides caring, in-home veterinary visits in the New York City area using both conventional and holistic medical techniques. His focus is on specialized care and pain management through acupuncture, rehabilitation, and wellness practices.
---


<section class="services">
	<h2 class="page-title">Services</h2>
	<div class="services-pairs">
		{%- for item in servicesData.services -%}
		{% if item.format === "regular" %}
		<div class="section-pair">
			<img class="no-steal about-img" src="{{ item.img }}" alt="Picture of Jeff"/>
			<div class="about-des">
				<h3>{{ item.title }}</h3>
				{%- for des in item.des -%}
				<p>{{des | markdown | safe}}</p>
				{%- endfor -%}
			</div>
		</div>
		{% elif item.format === "reverse" %}
		<div class="section-pair pair-reverse">
			<div class="about-des">
				<h3>{{ item.title }}</h3>
				{%- for des in item.des -%}
				<p>{{des | markdown | safe}}</p>
				{%- endfor -%}
			</div>
			<img class="no-steal about-img" src="/assets/dr-jeff-holistic-picture.jpg" alt="Picture of Jeff"/>
		</div>
		{% endif %}
		{%- endfor -%}
	</div>
</section>