---
layout: layouts/layout.njk
title: Testimonials | House Call Vet NYC
meta-des: Dr. Jeffrey Levy, DVM, CVA, known to his clients as “Dr. Jeff,” provides caring, in-home veterinary visits in the New York City area using both conventional and holistic medical techniques. His focus is on specialized care and pain management through acupuncture, rehabilitation, and wellness practices.
---

<section class="testimonials">
	<h2>Testimonials</h2>
	<div class="cards-testimonial">
			<div class="card-testimonial">
				<img src="/assets/pet-testimonial-test.jpeg" alt="Pet Picture">
				<p class="card-testimonial_title">Pet Name</p>
				<p>"Quote from the client about Dr. Jeff's services!"</p>
				<p>-- Name of the Pet Parent</p>
			</div>

			<div class="card-testimonial">
				<img src="/assets/pet-testimonial-test.jpeg" alt="Pet Picture">
				<p class="card-testimonial_title">Pet Name</p>
				<p>"Quote from the client about Dr. Jeff's services!"</p>
				<p>-- Name of the Pet Parent</p>
			</div>

			<div class="card-testimonial">
				<img src="/assets/pet-testimonial-test.jpeg" alt="Pet Picture">
				<p class="card-testimonial_title">Pet Name</p>
				<p>"Quote from the client about Dr. Jeff's services!"</p>
				<p>-- Name of the Pet Parent</p>
			</div>
		</div>
</section>