---
layout: layouts/layout.njk
title: Testimonials | House Call Vet NYC
meta-des: Dr. Jeffrey Levy, DVM, CVA, known to his clients as “Dr. Jeff,” provides caring, in-home veterinary visits in the New York City area using both conventional and holistic medical techniques. His focus is on specialized care and pain management through acupuncture, rehabilitation, and wellness practices.
---

<section class="testimonials">
	<h2>Testimonials</h2>
	<div class="cards-testimonial">

			{%- for item in testimonialsData.testimonials | reverse -%}
			<div class="card-testimonial">
				<img src="{{item.img}}" alt="Pet Picture">
				<p class="card-testimonial_title">{{item.name}}</p>
				<p>{{item.quote}}</p>
				<p>-- {{item.author}}</p>
			</div>
			{%- endfor -%}

		</div>
</section>