<!-- Footer Section -->
	<footer>
		<div class="footer-content">
			<img class="logo" src="/assets/hcvnyc-icon.svg" href="/" />
			<div class="social-buttons">
				<a href="https://facebook.com/housecallvetnyc" class="social-button face"><img src="/assets/facebook-light-full.png" alt="F"></a>
				<a href="https://instagram.com/housecallvetnyc" class="social-button ig"><img src="/assets/instagram-light-full.png" alt="I"></a>
				<a href="https://youtube.com/housecallvetnyc" class="social-button youtube"><img src="/assets/youtube-light-full.png" alt="Y"></a>
			</div>
			
			<div class="site-cred">
				<p class="footer-copyright">&copy <script>document.write(new Date().getFullYear());</script>, Housecall Vet NYC, All Rights Reserved</p>
			</div>
		</div>
		<div class="business-information">
				<div>
				<img src="/assets/bbb.png" alt="BBB" class="business-image bbb">
				<a href="https://www.yelp.com/biz/house-call-vet-nyc-new-york-3"><img src="/assets/yelp.png" alt="Yelp" class="business-image yelp"></a>
				</div>
				<div>
				<a href="" class="footer-link">Privacy Policy</a>
				<a href="" class="footer-link">Terms and Conditions</a>
				</div>
			</div>
	</footer>