<!-- Footer Section -->
	<footer>
		<div class="footer-content">
			<img class="logo" src="/assets/hcvnyc-icon.png" href="/" />
			<div class="social-buttons">
				<a href="https://facebook.com/housecallvetnyc" class="social-button face">F</a>
				<a href="https://instagram.com/housecallvetnyc" class="social-button ig">I</a>
				<a href="https://youtube.com/housecallvetnyc" class="social-button youtube">Y</a>
			</div>
			
			<div class="site-cred">
				<p class="footer-copyright">&copy <script>document.write(new Date().getFullYear());</script>, Housecall Vet NYC, All Rights Reserved</p>
				<p>|</p>
				<p class="creator">Website Made to Fly by <a href="https://feathermode.com">feathermode</a></p>
			</div>
		</div>
		<div class="business-information">
				<div>
				<img src="/assets/bbb.png" alt="BBB" class="business-image bbb">
				<img src="/assets/yelp.png" alt="Yelp" class="business-image yelp">
				</div>
				<div>
				<a href="/policy" class="footer-link">Privacy Policy</a>
				<a href="/terms" class="footer-link">Terms and Conditions</a>
				</div>
			</div>
	</footer>