<!-- Footer Section -->
	<footer>
		<img class="logo" src="/assets/hcvnyc-icon.png" href="/" />
		<div class="footer-content">
			<div class="social-buttons">
				<a href="https://facebook.com/housecallvetnyc" class="social-button">F</a>
				<a href="https://instagram.com/housecallvetnyc" class="social-button">I</a>
				<a href="https://youtube.com/housecallvetnyc" class="social-button">Y</a>
			</div>
			
			<p class="footer-copyright">&copy <script>document.write(new Date().getFullYear());</script>, Housecall Vet NYC, All Rights Reserved</p>
			<p class="creator">Website Made to Fly by <a href="https://feathermode.com">feathermode</a></p>

			<div class="business-information">
				<img src="" alt="BBB" class="bbb">
				<img src="" alt="Yelp" class="yelp">
				<a href="/policy" class="footer-link">Privacy Policy</a>
				<a href="/terms" class="footer-link">Terms and Conditions</a>
			</div>
		</div>
	</footer>