	<script>
		if (window.netlifyIdentity) {
			window.netlifyIdentity.on("init", user => {
				if (!user) { 
					window.netlifyIdentity.on("login", () => { 
						document.location.href = "/admin/";
					});
				}
			});
		}
	</script>
	
	<!-- <script>
		CMS.registerPreviewStyle("/styles/main.css");
	</script> -->

<!-- End Document -->
</body>
</html>