<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<title>{{ title }} | Vivi and Ro</title>
	<meta name="description" content="{{ post.data.excerpt }}">
	<meta name="author" content="Vivi and Ro">


	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<!-- FONT -->
	<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">


	<!-- CSS -->
	<link rel="stylesheet" href="/styles/-debug.css">
	<link rel="stylesheet" href="/styles/main.css">


	<!-- Favicon -->
	<link rel="icon" type="image/png" href="/assets/vr-llama-logo.png">
  
	<!-- Fathom - beautiful, simple website analytics -->
	<script src="https://cdn.usefathom.com/script.js" site="NKKHTMRN" defer></script>
 
  
	<!-- Netlify Identity Widget -->
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

</head>
<body>