<!-- Begin Document: Any code below can be viewed by the user -->

	<!-- Preload Screen -->
	<!-- <div class="preload">
		<img class="preload-icon" src="/assets/vr-llama-logo-small.png" alt="Vivi and Ro Llama" />
	</div> -->
	
	<!-- Title Menu -->
	<!-- <div class="nav-simple">
		<a href="/"><img src="/assets/vr-logo-color.png" alt="Vivi and Ro Logo" /></a>
	</div> -->

	<!-- Secondary Menu -->
	<div class="nav nav-back">
		<div class="nav-name-plate">
			<a href="/" class="nav-icon"><img class="nav-icon" src="/assets/hcvnyc-icon.svg" alt="HousecallVetNYC" /></a>
			<a href="/" class="nav-logo"><p class="nav-logo"><strong>HousecallVetNYC</strong></p></a>
		</div>
		<div class="nav-main">
			<a class="nav-button" href="/about">About</a>
			<a class="nav-button" href="/services">Services</a>
			<a class="nav-button" href="/testimonials">Testimonials</a>
			<a class="nav-button" href="/pet-centric">Pet-Centric Entertainment</a>
			<a class="nav-button" href="/news">News</a>
			<a class="nav-button" href="/contact">Contact</a>
		</div>
		<img class="hamburger" onclick="openNav()" src="/assets/hcvnyc-ham.png" alt="Menu Icon"/>
	</div>
		
		
	<!-- The overlay -->
	<div id="myNav" class="overlay">
	
		<!-- Button to close the overlay navigation -->
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		
		<!-- Overlay content -->
		<div class="overlay-content">
			<a class="nav-button" href="/about">About</a>
			<a class="nav-button" href="/services">Services</a>
			<a class="nav-button" href="/testimonials">Testimonials</a>
			<a class="nav-button" href="/pet-centric">Pet-Centric Entertainment</a>
			<a class="nav-button" href="/news">News</a>
			<a class="nav-button" href="/contact">Contact</a>
		</div>
	
	</div>