<!DOCTYPE HTML>
<html>
{% include "components/_head.njk" %}

{% include "components/_header.njk" %}

<div class="slider slider-news">
			<div class="slider-track">
				<div class="slide">
					<img src="/assets/plaque_1.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/plaque_2.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/plaque_3a.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/plaque_3.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/plaque_4.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/plaque_5.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/plaque_6.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/plaque_13.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/plaque_7.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/plaque_8.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/plaque_14.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/plaque_9.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/plaque_10a.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/plaque_10.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/plaque_11.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/plaque_12a.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/plaque_12.jpg" alt="">
				</div>
				<!-- DUPLICATE -->
				<div class="slide">
					<img src="/assets/plaque_1.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/plaque_2.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/plaque_3a.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/plaque_3.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/plaque_4.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/plaque_5.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/plaque_6.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/plaque_13.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/plaque_7.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/plaque_8.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/plaque_14.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/plaque_9.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/plaque_10a.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/plaque_10.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/plaque_11.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/plaque_12a.jpg" alt="">
				</div>
				<div class="slide">
					<img src="/assets/plaque_12.jpg" alt="">
				</div>
			</div>
		</div>
{% include "components/_taglist.njk" %}


{% include "components/_footer.njk" %}

{% include "components/_foot.njk" %}
</html>