<!DOCTYPE HTML>
<html>
{% include "components/_head.njk" %}

{% include "components/_header.njk" %}


	{{ content | safe }}


{% include "components/_footer.njk" %}

{% include "components/_foot.njk" %}
</html>
