<!DOCTYPE HTML>
<html>
{% include "components/_head.njk" %}

{% include "components/_header.njk" %}

	<!-- Post Section -->
	<section class="post-container">

		<div class="blog-post">
			<div class="post-header">
				<h3 class="post-title">{{ title }}</h3>
			<div class="post-data">
				<p class="post-category">{{ category }}</p>
				<p class="vl">|</p>
				<p class="post-date">{{ date | dateformat }}</p>
			</div>
			</div>

			<!-- <div class="post-head">
				<img src="{{ thumbnail }}" alt="{{ alt }}" class="post-head-image no-steal" />
				<div class="post-info {{ colorback }}">

					<div class="post-excerpt">

						<p class="post-des">{{ excerpt }}</p>
					</div>
				</div>
			</div> -->

			<div class="post-body">
				{{ content | safe }}
			</div>
		</div>
	</section>
	
{% include "components/_footer.njk" %}


{% include "components/_foot.njk" %}
</html>