<!DOCTYPE HTML>
<html>
{% include "components/_head.njk" %}

{% include "components/_header.njk" %}


{% include "components/_taglist.njk" %}


{% include "components/_footer.njk" %}

{% include "components/_foot.njk" %}
</html>