@import "./reset.css";


/* TOC */
/*

1 | Design System
2 | General
3 | Body
4 | Header
5 | Home
6 | Page
7 | Post
8 | Footer
9 | Misc

10| Mobile

*/



/* Design System */

:root {
	--brand-dark: #3E434A;
	--brand-light: #F4F3F4;
	--brand-primary: #2D355F;
	--brand-secondary: #a8b0c4;
	--brand-tertiary: #E4E4E4;
	--homebase: rgba(23, 126, 254, 1); /* Color for feathermode */

	--rad: 10px;
}



/* General */

html {
	scroll-behavior: smooth;
}

body {
	background: var(--brand-light);
	color: var(--brand-dark);
	-webkit-font-smoothing: antialiased;
	font-family: 'Arial', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0.1rem;
	padding: 0.1rem;
}

h1 {
	font-size: 3.75rem;
	line-height: 1.5;
}

h2 {
	font-size: 3.25rem;
	line-height: 1.5;
}

h3 {
	font-size: 2.625rem;
	line-height: 1.5;

}

h4 {
	font-size: 2.125rem;
	line-height: 1.5;
}

h5 {
	font-size: 1.625rem;
	line-height: 1.8;
}

h6 {
	font-size: 1.375rem;
	line-height: 1.8;
}

p {
	font-size: 1.2rem;
	line-height: 1.8;
	font-family: Open Sans;
}

ul, li {
	font-size: 1.25rem;
	line-height: 1.8;
	font-family: 'Caveat';
    font-weight: bold;
    margin-left: 0.5rem;
}

th, td {
	font-size: 1.25rem;
	line-height: 1.8;
}

a {
	text-decoration: none;
	color: var(--brand-black);
}



/* Body Styles */

.no-steal {
	pointer-events: none;
}

.button_main {
	background: var(--brand-primary);
	color: var(--brand-light);
	border: solid 2px var(--brand-primary);
	border-radius: var(--rad);
	padding: 0.5rem 1rem;
	margin-top: 1rem;
}

.button_main:hover {
	background: var(--brand-light);
	color: var(--brand-primary);
	border: solid 2px var(--brand-primary);
}

.button_light {
	background: var(--brand-light);
	color: var(--brand-primary);
	outline: none;
	border: solid 2px var(--brand-light);
	border-radius: var(--rad);
	padding: 0.5rem 1rem;
	margin-top: 1rem;
	transition: background 0.5s;
}

.button_light:hover {
	background: var(--brand-primary);
	color: var(--brand-light);
	border: solid 2px var(--brand-light);
	transition: background 0.5s;
}

.button_secondary {
	background: var(--brand-secondary);
	color: var(--brand-light);
	outline: none;
	border: solid 2px var(--brand-light);
	border-radius: var(--rad);
	padding: 0.5rem 1rem;
	margin-top: 1rem;
	transition: background 0.5s;
}

.button_secondary:hover {
	background: var(--brand-light);
	color: var(--brand-secondary);
	border: solid 2px var(--brand-light);
	transition: background 0.5s;
}



.page-title {
	color: var(--brand-light);
	margin-bottom: 4rem;
}

.logo_nyt {
	max-width: 550px;
}



/* Header Styles */
.nav {
	position: sticky;
	top: 0;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 14vh;
	background: var(--brand-light);
}

.nav-scrolled {
	display: grid;
	z-index: 100;
	top: 0;
	transition: all 0.25s ease-in-out 0s;
}

.unmoved {
	display: none;
}

.nav-back {
	background: var(--brand-light);
	border-bottom: 1px solid var(--brand-tertiary);
}

.nav-trans {
	background: rgba(0,0,0,0);
}

.nav-name-plate {
	margin: 0;
	padding: 0 1rem;
	display: flex;
	align-items: center;
	height: 100%;
}

.nav-name-plate a {
	height: 100%;
	width: 100%;
	object-fit: contain;
	display: flex;
	align-items: center;
}

.nav-icon {
	height: 80%;
	width: auto;
	margin: 0;
}

.nav-logo {
	color: var(--brand-primary);
	justify-self: center;
	align-self: center;
}

.nav-main {
	display: flex;
	justify-self: end;
	margin: 0 1rem;
	padding: 0 1rem;
	text-align: center;
}


.nav-button{
	margin: 1rem;
	font-size: 1.5rem;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
	color: var(--brand-dark);
}

.nav-button:hover, .nav-button:focus {
	text-decoration: underline;
	color: var(--brand-primary);
}

.hamburger {
	display: none;
	width: 35px;
	margin: 0 1rem;
}


/* Home Styles */
/* - Headline Style */

.hero {
	height: 80vh;
	max-width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
	padding: 0 3rem;
}

.slowFade {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 80%;
    overflow: hidden;
    position: relative;
    border-radius: var(--rad);
}
.slowFade .slide img {
    position: absolute;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    height: auto;
    /*background: #000;*/
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    opacity: 0;
    transform: scale(1.5) rotate(8deg);
    -webkit-animation: slowFade 24s infinite;
            animation: slowFade 24s infinite;
}
.slowFade .slide:nth-child(3) img {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}
.slowFade .slide:nth-child(2) img {
    -webkit-animation-delay: 8s;
            animation-delay: 8s;
}
.slowFade .slide:nth-child(1) img {
    -webkit-animation-delay: 16s;
            animation-delay: 16s;
}
@keyframes slowFade {
    25% {
        opacity: 1;
        transform: scale(1) rotate(0);
    }
    40% {
        opacity: 0;
    }
}
@-webkit-keyframes slowFade {
    25% {
        opacity: 1;
        transform: scale(1) rotate(0);
    }
    40% {
        opacity: 0;
    }
}

.hero-title {
	font-size: 30px;
	color: var(--brand-primary);
}

.hero-text {
	align-self: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	width: 50%;
	margin-top: 4rem;
}

.media {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 50vh;
	background: var(--brand-primary);
	color: var(--brand-light);
	padding: 3rem;
}

.media h2 {
	align-self: flex-start;
}

.media-content {
	display: flex;
	gap: 2rem;
	width: 100%;
}

.media_description {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
}

.media iframe {
	width: 400px;
	height: 300px;
	border-radius: var(--rad);
}

.slider {
	position: relative;
	min-height: 40vh;
	width: 100vw;
	display: flex;
	background: var(--brand-primary);
	padding: 4rem 0;
	overflow: hidden;
	margin: auto;

	--slider-width: 325px;
	--slides: 24;
}

.slider-home {
	background: var(--brand-light);
}

.slider::before, .slider::after {
	content: '';
	position: absolute;
	width: 150px;
	height: 100%;
	background: linear-gradient(to right, var(--brand-primary), rgba(255, 255,255, 0));
	z-index: 2;
}

.slider-home::before, .slider-home::after {
	content: '';
	position: absolute;
	width: 100px;
	height: 100%;
	background: linear-gradient(to right, var(--brand-light), rgba(255, 255,255, 0));
	z-index: 2;
}

.slider::before {
	top: 0;
	left: 0;
}

.slider::after {
	top: 0;
	right: 0;
	transform: rotateZ(180deg);
}

.slider .slider-track {
	display: flex;
	width: calc(var(--slider-width) * 24);
	animation: scroll 50s infinite linear;
}

.slider-track .slide {
	display: flex;
	align-items: center;
	width: var(--slider-width);
	height: 400px;
	margin: 2rem;
	padding: 1rem;
	border-radius: var(--rad);

	perspective: 100px;
}

.slider .slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: var(--rad);
	transition: transform 0.5s;
}

.slide img:hover {
	transform: translateZ(10px);
}

@keyframes scroll {
	0%{
		transform: translateX(0%);
	}

	100%{
		transform: translateX(calc(-1 * var(--slider-width) * 12));
	}
}



.clients {
	min-height: 70vh;
	background: var(--brand-secondary);
	background-image: url('/assets/dr-jeff-pet-wallpaper.svg');
	background-size: cover;
	background-repeat: repeat;
	color: var(--brand-light);
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: start;
	align-items: center;
	padding: 3rem;
}

.clients a {
	justify-self: end;
}

.clients-title {
	justify-self: start;
	align-self: start;
}

.clients .button_main {
	justify-self: start;
	align-self: start;
	margin: 0;
}

.contact {
	height: 85vh;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	padding: 3rem;
}

#contact-page {
	background: var(--brand-primary);
	color: var(--brand-light);
}

.contact-form {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
}

.contact-form-des {
	display: flex;
	gap: 1rem;
}

.contact-form-subject {
	height: 20vh;
	text-align: left;
	border: none;
	border-radius: 10px;
	padding: 0.5rem;
	background: var(--brand-tertiary);
}

.contact-form-links {
	display: flex;
	gap: 1rem;
	justify-content: end;
	align-items: center;
}

.contact-form label {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.contact-form input {
	padding: 0.5rem;
	border-radius: 10px;
	background: var(--brand-tertiary);
}

.contact-form > * {
	margin-bottom: 2rem;
}

.contact-phone {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact-form button {
	margin: 0;
}


/*Services*/
.services {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: var(--brand-primary);
	color: var(--brand-light);
	padding: 4rem;
}

.services-pairs {
	display: flex;
	flex-flow: column wrap;
	gap: 10rem;
}

.section-pair {
	display: flex;
	gap: 2rem;
}

/* Pet Centric */
.pet-centric {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: var(--brand-primary);
	color: var(--brand-light);
}

/* Testimonials */

.testimonials {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	min-height: 85vh;
	background-color: var(--brand-primary);
	background-image: url('/assets/dr-jeff-pet-wallpaper.svg');
	background-size: cover;
	background-repeat: repeat;
	color: var(--brand-light);
	padding: 2rem;
}

.cards-testimonial_home {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: start;
	width: 100%;
	gap: 1.5rem;
}

.cards-testimonial {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: start;
	gap: 1.5rem;
}

.card-testimonial {
	display: grid;
	grid-auto-rows: auto;
	justify-content: center;
	align-items: center;
	width: 300px;
	background: transparent;
	color: var(--brand-light);
	padding: 0.5rem;
}

.card-testimonial_story {
	position: relative;
	display: grid;
	justify-content: center;
}

.card-testimonial_quote {
	max-height: 100px;
	width: 300px;
	overflow: hidden;
	margin-bottom: 2rem;
}

.max-height {
	max-height: 100%;
}

.card-testimonial button {
	width: 100%;
	/*height: 25px;*/
	position: absolute;
	bottom: 0;
}

.card-testimonial img {
	align-self: center;
	justify-self: center;
	border: 2px solid var(--brand-light);
	border-radius: 10px;
	height: 300px;
	max-width: 100%;
	object-fit: cover;
}

.card-testimonial_title {
	justify-self: center;
	font-weight: bold;
}

.card-testimonial p:last-child {
	align-self: start;
}


/* - Recent Posts */
.recent-posts {
	display: grid;
	justify-content: center;
	padding: 4rem;
	max-width: 100vw;
	overflow: hidden;
	background: var(--brand-primary);
}

.posts-grid {
	justify-self: center;
	display: flex;
	flex-flow: row wrap;
	gap: 4rem;
	justify-content: center;
	width: 100%;
}

.post-card {
	flex: 1 100%;
	width: 400px;
	/*max-height: 450px;*/
	overflow-y: hidden;
	display: grid;
	background: var(--brand-light);
	color: var(--brand-dark);
	border-radius: var(--rad);
}

.post-card {
	cursor: pointer;
	transition: all 0.25s ease-in-out 0s;
}

.post-card:hover {
	box-shadow: 5px 5px 5px var(--brand-secondary);
}

.post-card-title {
	font-size: 30px;
}

.post-card-image {
	width: 100%;
	max-width: 100%;
	height: auto;
	overflow-y: hidden;
	object-fit: cover;
	border-radius: var(--rad);
}

.post-card-info {
	padding: 1rem;
}

.post-card-data {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
}

.post-card-empty {
	max-width: 400px;
	height: 700px;
	background: var(--brand-gray);
}

.pagination {
	justify-self: center;
	align-self: start;
	margin-top: 1rem;
}

.pagination a{
	font-size: 30px;
	margin: 0 2rem;
	color: var(--brand-light);
}



/* Page */
/* About Styles */
.about {
	display: flex;
	gap: 2rem;
	justify-content: center;
	align-items: center;
	min-height: 90vh;
	background: var(--brand-primary);
	color: var(--brand-light);
	padding: 4rem;
}

.about-img {
	height: 100%;
	object-fit: cover;
	justify-self: center;
	align-self: center;
	border-radius: var(--rad);
}

.about-img img {
	width: 100%;
	height: auto;
	object-fit: cover;
	padding: 0;
	margin: 0;
}

.about-des {
	max-width: 90%;
	justify-self: center;
}


/* Post */
.post-container {
	display: flex;
	justify-content: center;
}

.blog-post {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	min-height: 100vh;
	max-width: 70vw;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 4rem;
}

.post-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.post-head {
	grid-area: post-head;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);
	justify-self: center;
	width: 95vw;
	max-height: 80vh;
	overflow: hidden;
	margin: 0 0 2rem 0;
	position: relative;
}

.post-head-image {
	max-width: 80%;
	border-radius: var(--rad);
}

.post-head img {
	max-width: 100%;
	width: 100%;
	height: auto;
	object-fit: cover;
	align-self: center;
	justify-self: center;
}

.post-info {
	grid-row: 1 / 4;
	grid-column: 3 / 4;
	display: grid;
	align-items: center;
	padding: 2rem;
}

.post-data {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
}

.post-excerpt {
	align-self: start;
}

.post-statement {
	grid-area: statement;
	justify-self: center;
	text-align: center;
	width: 60vw;
	padding: 2rem;
	margin: 1rem 0;
	border-radius: 5px;
}

.post-body {
	grid-area: body;
	justify-self: center;
	width: 70vw;
}

.post-body img {
	width: 100%;
	justify-self: center;
	padding: 2rem 0;
	pointer-events: none;
}

.post-body h2, .post-body h3, .post-body h4, .post-body h5, .post-body h6 {
	padding-top: 1.5rem;
}

.post-body ul {
	list-style-type: circle;
}

.post-body ol {
	list-style-type: upper-roman;
}

.post-body li {
	padding: ;
}

.post-body a {
	color: var(--brand-dark);
	font-weight: bold;
	text-decoration: underline;
}

.post-body a:hover, .post-body a:active {
	color: var(--brand-gray);
}

.post-body p, .post-body li {
	font-size: 20px;
	padding: 0.25rem 0;
}

.post-body p:first-child::first-letter {
	float: left;
	font-family: Open Sans, sans-serif;
	font-size: 3.5em;
	font-weight: bold;
	line-height: 1;
	margin-inline-end: 0.5rem;
}

.related-posts {
	grid-area: related;
	justify-self: center;
	width: 95vw;
	display: grid;
	justify-content: center;
	align-items: center;
}

.blog-section-topic, .post-author-title {
	text-align: center;
}

.blog-section-topic, .blog-cards {
	justify-self: center;
}

.blog-cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 3rem;
}

.post-author {
	grid-area: author;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 30% 60%;
	grid-template-areas:
	"author-title author-title"
	"author-image author-des";
	grid-gap: 1rem;
	justify-content: center;
	align-items: center;
	width: 95vw;
	max-height: 50vh;
	padding-bottom: 2rem;
}

.post-author-title {
	grid-area: author-title;
	justify-self: center;
	align-self: center;
}

.author-img {
	grid-area: author-image;
	justify-self: center;
	align-self: center;
}

.author-img img {
	width: 100%;
	object-fit: cover;
}

.author-des {
	grid-area: author-des;
	justify-self: center;
	align-self: center;
}

.active-post {
	display: none;
	visibility: hidden;
}



/* Footer */
footer {
	display: flex;
	flex-direction: row;
	max-width: 100vw;
	min-height: 8vh;
	justify-content: space-between;
	align-items: flex-end;
	text-align: center;
	border-top: 1px solid var(--brand-gray);
	padding: 1rem 4rem;
}

.footer-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 1rem;
}

.footer-content div {
	display: flex;
	gap: 0.5rem;
}

.business-information {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 0.5rem;
}

.business-information a {
	color: var(--brand-dark);
}

.business-information div {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

footer p {
	font-size: 12px;
}

.logo {
	width: 50px;
	padding: 0 2rem 0 0;
}

footer a {
	color: var(--homebase);
	font-weight: bold;
	text-decoration: none;
}

footer a:hover, footer a:active {
	text-decoration: underline;
}

.business-image {
	max-height: 60px;
}

.social-button {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	padding: 0.5rem;
	color: var(--brand-light);
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-button img {
	max-height: 100%;
}

.face {
	background: #3b5998;
}

.ig {
	background: #E1306C;
}

.youtube {
	background: #e52d27;
}



/* Misc Styles */





/* --- Mobile Menu --- */

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */    
  height: 0;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  background-color: var(--brand-light); /* Black fallback color */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: var(--brand-primary);
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  text-decoration: underline;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
	color: var(--brand-primary);
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}



/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {

  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 900px) {
	/* For mobile phones: */
	p {
		font-size: 1.4rem;
	}
	/* Navigation */
	.nav {
		display: flex;
		gap: 0.25rem;
		overflow: hidden;
		z-index: 1000;
		padding: 1rem 0;
		align-items: center;
	}
	
	.nav-simple {
		display: none;
	}

	.nav-icon {
		max-height: 65px;
	}
	
	.hamburger {
		display: grid;
		grid-area: hamburger;
		justify-self: end;
		align-self: center;
		cursor: pointer;
		margin-right: 3rem;
	}

	.hamburger .line {
		width: 50px;
		height: 5px;
		background-color: var(--brand-primary);
		display: block;
		margin: 4px auto;
		border-radius: 4px;
		-webkit-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	
	.nav-main {
		display: none;
	}

	/* Hero Content */
	.hero {
		/*min-height: 100vh;*/
		flex-direction: column;
		justify-content: start;
		align-items: center;
		gap: 4rem;
		padding: 4rem;
	}

	.hero-title {
		font-size:  22px;
	}

	/*.hero-photo {
		align-self: center;
		width: 100%;
	}*/

	.slowFade {
		height: 40%;
	}

	.hero-text {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 0;
	}

	/* Media Section */
	/*.media {
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 4rem;
		padding: 10rem 3rem;
		text-align: center;
	}*/

	.media h2 {
		align-self: center;
	}
	.media-content {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.media_description {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.video-1 {
		order: 1;
	}

	.video-2 {
		order: 2;
	}

	.media-content iframe {
		width: 325px;
		height: 200px;
		border-radius: var(--rad);
	}

	/* Clients Section */
	.clients {
		height: auto;
		padding: 10rem 3rem;
	}

	.clients-title {
		justify-self: center;
		align-self: center;
		/*font-size: 30px;*/
		text-align: center;
	}
	
	/* Headline Styles */
	.headline-content {
		display: grid;
		grid-template-rows: 2fr 1fr;
		grid-template-columns: auto;
		justify-self: center;
		width: 100vw;
		max-height: 80vh;
		overflow: hidden;
		margin: 0 0 6rem 0;
	}
	
	.headline-image {
		grid-row: 1 / 2;
		grid-column: 1 / -1;
		align-self: center;
		justify-self: center;
	}
	
	.headline-content img {
		max-width: 100%;
		object-fit: cover;
	}
	
	.headline-excerpt {
		grid-row: 2 / 3;
		grid-column: 1 / -1;
		padding: 2rem;
	}
	
	.excerpt-data {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
	}
	
	
	/* About Styles */
	.about {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		justify-content: center;
		align-items: center;
		height: auto;
		background: var(--brand-primary);
		color: var(--brand-light);
		padding: 6rem 3rem;
	}

	.about-img {
		width: 100%;
		object-fit: cover;
		justify-self: center;
		align-self: center;
		border-radius: var(--rad);
	}

	.about-img img {
		width: 100%;
		height: auto;
		object-fit: cover;
		padding: 0;
		margin: 0;
	}

	.about-des {
		max-width: 90%;
		justify-self: center;
	}

	/* Services */
	.services {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		background: var(--brand-primary);
		color: var(--brand-light);
		padding: 6rem 3rem;
	}

	.services-pairs {
		display: flex;
		flex-flow: column wrap;
		gap: 10rem;
	}

	.section-pair {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	.pair-reverse {
		flex-direction: column-reverse;
	}

	/* Testimonials */
	.testimonials {
		padding: 6rem 3rem;
	}

	.cards-testimonial {
		gap: 2rem;
	}

	.card-testimonial_quote {
		margin-bottom: 4rem;
	}

	.card-testimonial img {
		max-width: 300px;
	}


	/* Contact Sections */
	.contact {
		padding: 3rem;
	}

	.contact-form-des {
		flex-direction: column;
	}

	
	/* - Recent Posts */
	.slider::before, .slider::after {
		display: none;
	}

	.recent-posts {
		display: grid;
		justify-content: center;
		padding: 4rem 0;
		max-width: 100vw;
		overflow: hidden;
	}

	.page-title {
		text-align: center;
	}
	
	.posts-grid {
		display: grid;
		grid-template-columns: auto;
		/*grid-auto-rows: minmax(500px,700px);*/
		grid-gap: 3rem;
		width: 95vw;
		max-width: 95vw;
		justify-content: center;
	}
	
	.post-card {
		/*grid-area: card;*/
		max-width: 350px;
		/*max-height: 700px;*/
		justify-self: center;
		overflow-y: hidden;
	}
	
	
	/* Post Styles */
	.post-head {
		grid-area: post-head;
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: auto;
		justify-self: center;
		width: 95vw;
		max-height: 70vh;
		overflow: hidden;
		margin: 0 0 6rem 0;
		position: relative;
	}
	
	.post-head-image {
		max-width: 100%;
	}
	
	.post-info {
		grid-row: 2 / 3;
		grid-column: 1 / -1;
		display: grid;
		align-items: center;
		padding: 2rem;
	}
	
	.post-statement {
		grid-area: statement;
		justify-self: center;
		text-align: center;
		width: 90vw;
		padding: 2rem;
		margin: 1rem 0;
		border-radius: 5px;
	}

	.post-body {
		grid-area: body;
		justify-self: center;
		width: 90vw;
	}
	
	.blog-cards {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: 1fr 1fr 1fr;
		grid-gap: 3rem;
	}
	
	.post-author {
		grid-template-columns: auto;
		grid-template-rows: 10% 30% 60%;
		grid-template-areas:
		"author-title"
		"author-image" 
		"author-des";
	}
	
	
	/* Footer Styles */
	/* Footer */
	footer {
		display: flex;
		flex-direction: column;
		max-width: 100vw;
		min-height: 8vh;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 1rem 4rem;
	}

	.footer-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}

	.footer-content div {
		display: flex;
		gap: 0.5rem;
	}

	.business-information {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;
	}

	.business-information a {
		color: var(--brand-dark);
	}

	.business-information div {
		display: flex;
		flex-direction: row;
		gap: 1rem;
	}

	footer p {
		font-size: 10px;
	}

	.logo {
		width: 40px;
		padding: 0;
		display: none;
	}

	footer a {
		color: var(--homebase);
		font-weight: bold;
		text-decoration: none;
	}

	footer a:hover, footer a:active {
		text-decoration: underline;
	}

	.business-image {
		max-height: 50px;
	}

	.social-button {
		height: 20px;
		width: 20px;
		border-radius: 50%;
		padding: 0.5rem;
		color: var(--brand-light);
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.social-button img {
		max-height: 100%;
	}
}

